@model ListaTelefonico.Models.Endereco

<div class="container justify-content-center">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Tem certeza que deseja excluir o endereço  @Model.Logradouro</h1>
           <form asp-action="EnderecoExcluir" method="post">
               <input asp-for="Id" hidden />
            <div class="row">
                <div class="col-6">
                    <input type="submit" class="btn btn-danger" value="Sim"/>
                </div>

                 <div class="col-6">
                    <a asp-action="EnderecoIndex" class="btn btn-primary" >Não</a>
                </div> 
            </div>
            </form>  
        </div>
    </div>


</div>