@model ListaTelefonico.Models.Telefone

<div class="container">
     <form asp-action="TelefoneVisualizar" method="post">
        <div class="row"> 
            <div class="col-4">
                <label asp-for="Numero" class="control-label pt-2"></label>
                <input type="text" class="form-control" asp-for="Numero" readonly/>
            </div>
        </div>
        <br />
        <footer>
            <input type="submit" value="Criar" class="btn btn-success form-control" />
            <a asp-action="TelefoneIndex" class="btn btn-outline-primary  form-control">Voltar</a>
        </footer>
    </form>

</div>