@model ListaTelefonico.Models.Email

<div class="container">
    <form asp-action="EmailCriar" method="post">
        <input type="text" class="form-control" asp-for="IdContato" hidden />

        <div class="row">
            <div class="col-4">
                <label asp-for="Id" class="control-label pt-2"></label>
                <input type="text" class="form-control" readonly asp-for="Id" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="Descricao" class="control-label pt-2"></label>
                <input type="text" class="form-control" asp-for="Descricao" />
                <span asp-validation-for="Descricao" class="text-danger" />
            </div>
        </div>
        <br />
        <footer>
            <input type="submit" value="Criar" class="btn btn-success form-control" />
            <a asp-action="EmailIndex" class="btn btn-outline-primary  form-control">Voltar</a>
        </footer>
    </form>

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}